

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #13676d, #90d7d4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.form-box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
}

.logo {
  width: 220px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #1c1f4a;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

button {
  margin-top: 25px;
  padding: 12px;
  background-color: #0072ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0052cc;
}
