<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="D:\April\tracking_project\static\css\style_9.1.css" />
    <title>Boost Media Group</title>
</head>

<body>

    <header>
        <img src="https://img.freepik.com/premium-vector/marketing-logo-template_416562-615.jpg?semt=ais_hybrid"
            class="logo" alt="Boost Media Group">
        <div class="header-text">
            <h2>Boost Media Group</h2>
            <p>Партнёрская программа</p>
        </div>
    </header>

    <main>
        <h1>Станьте нашим партнёром!</h1>
        <p>Мы являемся экспертами в создании бизнеса онлайн-знаменитостей, позвольте помочь Вам! Boost Media Group
            приглашает к сотрудничеству специалистов и агентства в сфере маркетинга, PR и digital. Мы предлагаем гибкие
            и выгодные условия партнёрства с реальной поддержкой и инструментами для роста.</p>

        <p>Наши преимущества:</p>
        <ul>
            <li>Эксклюзивные digital-продукты и сервисы</li>
            <li>Конкурентные бонусы и комиссионные</li>
            <li>Обучение, поддержка и материалы для продвижения</li>
        </ul>

        <p>Оставьте заявку, и мы свяжемся с вами в ближайшее время:</p>

        <form action="#" method="post">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" required>

            <label for="company">Компания / Проект</label>
            <input type="text" id="company" name="company">

            <label for="message">Кратко о Вас или интересующие подробности сотрудничества</label>
            <textarea id="message" name="message" rows="4"></textarea>

            <button type="submit">Отправить заявку</button>
        </form>
    </main>

    <footer>
        Boost Media Group, 2025
    </footer>

</body>

</html>