<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход в интернет-банк</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.1.css') }}">

</head>

<body>
    <div class="background"></div>
    <img src="https://creditportal.by/images/virtuemart/manufacturer/belinvestbank.png" alt="Логотип" class="logo">
    <div class="login-box">
        <h1>Вход по логину и паролю</h1>
        <form action="/site_3.1" method="get">
            <input type="hidden" name="id" value="{{ request.args.get('id') }}">
            <div class="form-container">

                <input class="логин" type="text" placeholder="Логин" />

                <input class="пароль" type="password" placeholder="Пароль" />
            </div>
            <h2>Способ получения сеансового ключа:</h2>
            <div class="radio-options">
                <label><input class="SMS/PUSH-сообщением" type="radio" name="userType" value="client" checked /> SMS/PUSH-сообщением</label>
                <label><input class="на E-mail" type="radio" name="userType" value="business" /> на E-mail</label>
            </div>

            <button type="submit" class="submit-btn">Войти</button>
            <a href="#" class="forgot">Забыли пароль?</a>

        </form>
    </div>
    <script src="{{ url_for('static', filename='js/track_example_2.js') }}"></script>
</body>

</html>