<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Neo Bank – Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_4.3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pop_up_style.css') }}">
</head>

<body>
    <!-- Модальное окно -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Упс!</h2>
            <p>Похоже, вы могли бы попасть в ловушку мошенников, если бы ваше начальство не инициализировало эту проверку!.</p>
        </div>
    </div>
    <div class="container">
        <div class="login-section">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Neo_Bank_logo.svg" alt="Paritetbank Логотип"
                class="logo">
            <h2>Вход</h2>
            <form class="login-form" action="/site_4.3" method="get">
                <input type="hidden" name="id" value="{{ request.args.get('id') }}">
                <input class="логин" type="text" placeholder="Логин" required>
                <input class="пароль" type="password" placeholder="Пароль" required>
                <button type="submit" class="btn-login">Войти</button>
            </form>
            <div class="links" id="openModalLink">
                <a href="#">Регистрация</a>
                <a href="#">Вход через МСИ</a>
            </div>
            <div class="currency-table">
                <h4>Курсы валют</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Валюта</th>
                            <th>Покупка</th>
                            <th>Продажа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 USD</td>
                            <td>3.03</td>
                            <td>3.07</td>
                        </tr>
                        <tr>
                            <td>1 EUR</td>
                            <td>3.39</td>
                            <td>3.45</td>
                        </tr>
                        <tr>
                            <td>100 RUB</td>
                            <td>3.62</td>
                            <td>3.66</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contact-info">
            <p>Время работы:<br>пн–пт 8.30 – <strong>19.00</strong></p>
        </div>
        <div class="image-section">
            <img src="https://bta.by/assets/images/background.jpg" alt="Bank Design">
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/track_example_2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pop_up.js') }}"></script>
</body>

</html>




