<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в интернет-банк</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_3.2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pop_up_style.css') }}">
</head>
<body>
    <!-- Модальное окно -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Упс!</h2>
            <p>Похоже, вы могли бы попасть в ловушку мошенников, если бы ваше начальство не инициализировало эту проверку!.</p>
        </div>
    </div>
    <header class="header">
        <img src="https://www.mpos.by/upload/iblock/bcf/bcfd1dceab4cc63e126ccd047c7e76ce.svg" alt="Paritetbank Логотип" class="logo">
        <a href="#" class="nav-link active">Вход</a>
    </header>
    <div class="notification">
        <p><strong>Уважаемые клиенты!</strong><br>
        Сообщаем Вам об обновлении наименований нашей линейки онлайн-депозитов.<br>
        Но условия по ним остались прежними – такими же выгодными и удобными для Вас!<br>
        Спасибо, что выбираете нас!<br><br>
        В связи с проведением регламентных работ будет недоступен Интернет банкинг и Мобильный банкинг.<br><br>
        Приносим извинения за возможные неудобства.
        </p>
    </div>
    <div class="login-box">
        <h2>Вход в eParitet</h2>
        <form action="/site_3.2" method="get">
            <input type="hidden" name="id" value="{{ request.args.get('id') }}">
            <label for="login">Логин</label>
            <input class="логин" type="text" id="login" name="login">

            <label for="password">Пароль</label>
            <div class="password-wrapper">
                <input class="пароль" type="password" id="password" name="password">
                <span class="toggle-password">👁</span>
            </div>

            <a href="#" class="forgot-password" id="openModalLink">Забыли пароль?</a>

            <button type="submit" id="openModalBtn">Войти</button>
            <button type="button" class="ecdsa-login" id="openModalBtn">Войти по ЭЦП</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/track_example_2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pop_up.js') }}"></script>
</body>
</html>