<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTBank mPOS - Кабинет пользователя</title>
    <link rel="stylesheet" href="D:\April\tracking_project\static\css\style_3.4.css" />
</head>

<body>
    <div class="login-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Mtbank.png" alt="MTBank Logo" class="logo">
        <h1>Кабинет пользователя</h1>

        <div class="input-group">
            <div class="input-item">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" placeholder="Введите имя пользователя">
            </div>
            <div class="input-item">
                <label for="password">Пароль</label>
                <input type="password" id="password" placeholder="Введите пароль">
            </div>
        </div>

        <div class="divider"></div>

        <button class="login-button">ВОЙТИ</button>

        <a href="#" class="forgot-password">Забыли пароль?</a>
    </div>
</body>

</html>