<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Опровержение жалобы</title>
    <link rel="stylesheet" href="D:\April\tracking_project\static\css\style_6.1.css" />
</head>

<body>
    <div class="container">
        <div class="form-box">
            <div class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Mail.Ru_Logo_2018.svg/2560px-Mail.Ru_Logo_2018.svg.png"
                    alt="Логотип" class="logo"/>
                <h2>Опровержение жалобы</h2>
                <p>Заполните данные ниже</p>
            </div>

            <form>
                <label for="fio">ФИО</label>
                <input type="text" id="fio" name="fio" placeholder="Иванов Иван Иванович" required />

                <label for="email">Почта</label>
                <input type="email" id="email" name="email" placeholder="example@mail.ru" required />

                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required />

                <label for="description">Краткое описание произошедшего</label>
                <textarea id="description" name="description" rows="4" placeholder="Опишите ситуацию..."
                    required></textarea>

                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</body>

</html>