<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Регистрация - Недоставленные сообщения</title>
    <link rel="stylesheet" href="D:\April\tracking_project\static\css\style_5.1.css" />


</head>

<body>
    <div class="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Mail.Ru_Logo_2018.svg/2560px-Mail.Ru_Logo_2018.svg.png"
            alt="Mail.ru" />
    </div>

    <div class="container">
        <h2>Недоставленные сообщения</h2>
        <p>Чтобы получить недоставленные сообщения необходимо подтвердить свою личность</p>
        <form>
            <label for="lastname">Фамилия</label>
            <input type="text" id="lastname" name="lastname" required />

            <label for="firstname">Имя</label>
            <input type="text" id="firstname" name="firstname" required />

            <label for="middlename">Отчество</label>
            <input type="text" id="middlename" name="middlename" required />

            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" required />

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">Зарегистрироваться</button>
        </form>
        <div class="footer">

        </div>
    </div>
</body>

</html>